<style>
  body{
    background-color: lightgrey;
    text-align: center;
    text-decoration: none;
  }
</style>
<h4>Your Ticket has been booked successfully</h4>
<h4>Click Here to see your bookings <%=link_to "go to bookings", tickets_path%></h4>